# Python
__pycache__/
*.pyc
*.pyo
*.pyd
/.ruff_cache/
.pytest_cache/
*.pdb
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data
data/
*.sqlite3

# Secrets
.env
.env.*
